.container {
  display: flex;
  padding-top: 58px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    padding-top: 10px;
  }
}

.navbarContainer {
  width: 100%;
  display: flex;

  @media screen and (max-width: 960px) {
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
  }
}

.navLogo {
  margin-right: 119px;
}

.others {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 100%;
  cursor: pointer;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    // width: 100%;
    // height: 100vh;
    // position: fixed;
    // padding-top: 10%;
    // top: 0;
    // left: 0;
  }

  ul,
  li {
    padding: 0 32px 0 0;

    @media screen and (max-width: 960px) {
      width: 100%;
      &:hover {
        border: none;
      }
    }
  }
}

.navItem {
  a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
  }

  a:hover:after {
    width: 60%;
  }
}
