.container {
  margin: 124px 0;

  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  background-image: url("/unsplash_x1ZZWyDU8sU.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.partners {
  justify-content: center;
  text-align: center;
  width: 100%;
  display: flex;
  margin-top: 56px;
  gap: 70px;

 
  @media (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
  }

  @media (max-width: 685px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  @media (max-width: 430px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
}
