.container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 960px) {
    display: none;
  }
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.imageWrapper {
  padding: 10px;
  border-radius: 6px;
}

.textTitle {
  font-family: "Helvetica";
  font-size: 20px;
  line-height: 28px;
  color: #4f4f4f;
  text-align: center;
}

.textDescription {
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  text-align: center;
}

.cardButton {
  display: flex;
  justify-content: space-between;

  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 54px;
  height: 54px;

  cursor: pointer;
}
