.container {
  margin-top: 144px;
  text-align: center;

  span {
    color: #828282;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    max-width: 412px;
  }

  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
  }
}

.text {
}

.cardList {
  display: flex;
  width: 100%;
  justify-content: center;

  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: grid;
  width: 424px;
  height: 560px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 10%);
  border-radius: 6px;
  margin-top: 56px;
  margin-left: 24px;
  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.image {
}

.title {
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: bold;
  height: 56px;
  width: 384px;
  line-height: 28px;
  color: #333333;
  padding: 16px 16px 16px 24px;
  text-align: left;
}

.textCard {
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  padding: 16px 0 16px 0;
  width: 384px;
  padding: 16px 16px 16px 24px;
  text-align: left;
}

.readMore {
  display: flex;
  padding: 16px 0 16px 0;
  padding: 16px 16px 16px 24px;

  p {
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 22px;
    color: #4f4f4f;
    height: 22px;
    width: 73px;
  }
}
